head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    script(src="https://code.highcharts.com/stock/highstock.js")
body
    nav
        .nav-wrapper.indigo
            a.button-collapse(href="#" data-activates="nav-mobile")
                i.material-icons menu
            ul.left.hide-on-med-and-down
                //li
                //    a.modal-trigger(href="#modal2") Сменить режим полива
                li.get-wet
                    a.waves-effect.waves-light.blue.btn Полить растение сейчас
            ul.right.hide-on-med-and-down
                //li
                //    a.modal-trigger(href="#modal1") Добавить новое растение
                li
                    a.modal-trigger(href="#modalInfo") Характеристика цветка
                li
                //    a.dropdown-button(href="#!" data-activates="dropdown1") Мои растения
                //        i.material-icons.right arrow_drop_down
            ul#nav-mobile.side-nav
                li
                    a.modal-trigger(href="#modalInfo") Характеристика цветка
                li.get-wet
                    a(href="#") Полить растение сейчас

    .row
        .col.s12.l4
            +nameplant
    .row
        .col.s12.l4
            +last
        .col.s12.l4
            +temperature
        .col.s12.l4
            +wet


    +info
    +chart