[type="radio"]:checked + label:after {
    border: 2px solid #3f51b5;
    background-color: #3f51b5;
}

h4 {
    font-size: 2rem;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #3f51b5;
    box-shadow: 0 1px 0 0 #3f51b5;
}

label, .input-field label {
    font-size: 16px;
    color: #000;
}

.input-field input[type=text]:focus + label {
    color: #000;
}

nav ul a.btn {
    text-transform: none;
}

#modalInfo label {
    font-weight: bold;
}

output#description {
    font-style: italic;
}