template(name="chart")

    .row
        .col.s12.m6.l3.offset-s1
            input#temperature(type="radio" name="graphics" checked value="temperature")
            label(for="temperature") Показать график температуры воздуха
        .col.s12.m6.l3.offset-s1
            input#wet(type="radio" name="graphics" value="wet")
            label(for="wet") Показать график влажности почвы
    #container
