template(name="nameplant")
    h4
        b Красная герань

template(name="last")
    h5 Последний полив
        = time

template(name="temperature")
    h5 Температура воздуха
        = t
        = " °C"

template(name="wet")
    h5 Влажность почвы
        = w
        = " %"