template(name="plant")
    .modal#modal1
        .modal-content
            Label Добавить новое растение
            .input-field.col.s6
                input.validate#plant_name(type="text")
                label(for="plant_name") Имя цветка
            .row
                label Размер горшка
                .col.s12
                    input#small(type="radio" name="plot" checked)
                    label(for="small") Маленький
                .col.s12
                    input#medium(type="radio" name="plot")
                    label(for="medium") Средний
                .col.s12
                    input#big(type="radio" name="plot")
                    label(for="big") Большой
                .col.s12
                    input#large(type="radio" name="plot")
                    label(for="large") Очень большой
            label Как растение воспринимает влагу
            .row
                .col.s12.l3
                    input#not(type="radio" name="love-water")
                    label(for="not") Не любит
                .col.s12.l3
                    input#norm(type="radio" name="love-water" checked)
                    label(for="norm") Нормально
                .col.s12.l3
                    input#love(type="radio" name="love-water")
                    label(for="love") Очень любит
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-purple.btn-flat.right Закрыть
            a.modal-action.waves-effect.waves-light.indigo.btn.add-button Добавить
