template(name="info")
    .modal#modalInfo
        .modal-content
            h4 Информация о растении

            p
                label Название цветка
                output(id="plant_name") 0

            p
                label Информация о поливе
                p
                    output(id="description") 0

            p
                label Диаметр цветочного горшка, см
                output(id="plot_size") 0

            p
                label Степень влагоустойчивости
                output(id="koeff") 0

        .modal-footer
            a.modal-action.waves-effect.waves-light.indigo.btn.add-button Ок
