template(name="mode")
    .modal#modal2
        .modal-content
            h4 Сменить режим полива

            p
                input#auto(type="radio" name="check-mode")
                label(for="auto") Автоматический режим

            p
                input#shcedule(type="radio" name="check-mode")
                label(for="shcedule") Полив по графику

            p
                input#off(type="radio" name="check-mode")
                label(for="off") Отключить полив
        .modal-footer
            a.modal-action.modal-close.waves-effect.waves-purple.btn-flat.right Закрыть
            a.modal-action.waves-effect.waves-light.indigo.btn.add-button Сохранить
